piexif>=1.1.3
pytest>=8.2.2
moviepy>=1.0.3
ffmpeg-python>=0.2.0

# windows
pywintypes; sys_platform == 'win32'
win32file; sys_platform == 'win32'

# macos
xattr; sys_platform == 'darwin'

# linux
xattr; sys_platform == 'linux'